{% extends "frontend/layout.html" %}
{% load humanize %}

{%block content%}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-top clearfix">
            <h4 class="pull-left">บทความทั้งหมด <a href="#"><i class="fa fa-rss"></i></a></h4>
        </div><!-- end blog-top -->
        <div class="blog-list clearfix">
            {% for blog in blogs%}
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="#" title="">
                            <img src="{{blog.image.url}}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="{%url 'blogDetail' blog.id%}" title="">{{blog.name}}</a></h4>
                    <p>{{blog.description}}</p>
                    <small class="firstsmall"><a class="bg-orange" href="#" title="">{{blog.category}}</a></small>
                    <small><a href="#" title="">{{blog.created}}</a></small>
                    <small><a href="#" title="">by {{blog.writer}}</a></small>
                    <small><a href="#" title=""><i class="fa fa-eye"></i> {{blog.views|intcomma }}</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
            {% endfor%}
        </div><!-- end blog-list -->
    </div><!-- end page-wrapper -->
    <hr class="invis">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                {% if blogs.paginator.num_pages > 1%}
                <ul class="pagination justify-content-start">
                    {% for page_number in blogs.paginator.page_range%}
                        <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                    {%endfor%}
                </ul>
                {% endif %}
            </nav>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->

{%endblock%}