<!DOCTYPE html>
<html lang="en">
    {% load static%}
    {% load humanize %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>KongRuksiam Blogging</title>    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'frontend/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'frontend/images/apple-touch-icon.png' %}">
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.css' %} ">

    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'frontend/css/font-awesome.min.css ' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'frontend/css/colors.css' %}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{% static 'frontend/css/version/tech.css' %}" rel="stylesheet">   

</head>
<body>
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'frontend/images/version/tech-logo.png ' %}" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    {% for blog in latest%}
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                             <img src="{{blog.image.url}}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="#" title="">{{blog.category}}</a></span>
                                        <h4><a href="{%url 'blogDetail' blog.id %}" title="">{{blog.name}}</a></h4>
                                        <small><a href="#" title="">{{blog.created}}</a></small>
                                        <small><a href="#" title="">by {{blog.writer}}</a></small>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> {{blog.views | intcomma}}</a></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->
                    {% endfor%}
                </div><!-- end masonry -->
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    {%block content%}

                    {% endblock %}
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">บทความยอดนิยม</h2>
                                <div class="trend-videos">
                                    {% for pop in popular%}
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{% url 'blogDetail' pop.id %}" title="">
                                                <img src="{{pop.image.url}}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="{% url 'blogDetail' pop.id %}" title="">{{pop.name}}</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    {% endfor%}
                                </div><!-- end videos -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">บทความแนะนำ</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for sugges in suggestion%}
                                        <a href="{% url 'blogDetail' sugges.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{sugges.image.url}}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{sugges.name}}</h5>
                                                <small>{{sugges.created}}</small>
                                            </div>
                                        </a>
                                        {% endfor%}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            <hr class="invis">
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="{% static 'frontend/images/version/tech-footer-logo.png ' %}" alt="" class="img-fluid"></a>
                                <p>Tech Blog is a เทคโนโลยี blog, we sharing marketing, news and gadget articles.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>
                                <hr class="invis">
                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">หมวดหมู่</h2>
                            <div class="link-widget">
                                <ul>
                                    {% for category in categories %}
                                    <li><a href="#">{{category.name}} <span>(0)</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Advertising</a></li>
                                    <li><a href="#">Write for us</a></li>
                                    <li><a href="#">Trademark</a></li>
                                    <li><a href="#">License & Help</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Django Blogging | KongRuksiam</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->
        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'frontend/js/jquery.min.js' %} "></script>
    <script src="{% static 'frontend/js/tether.min.js ' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'frontend/js/custom.js' %} "></script>

</body>
</html>